// c = color
// a = accent
// bg = background

$success-bgc: #e9ffee;
$success-ac: #378552;

$failure-bgc: #ffe9e9;
$failure-ac: #d21d25;

$waiting-bgc: #e5e9f6;
$waiting-ac: #2b1b70;

$link-color: #8c7ea8;

$tablet-width: 768px;
